.box
{
    /* background-color: gray; */
    border: 1px solid black;
    height: 800px;
}
.firstBox{
    border: 2px solid red;
    color: #08285e;
    text-align: center;
    background-color: gray;
    padding-top: 90px;

height: 800px;
}
.s2{
    font-weight: bold;
    font-size: 20px;
}
.s1{
    font-weight: bold;
    font-size: 50px;
}