.Navbar
{
    /* background-color: black; */
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px solid black;

}
.Navbar>div
{
    width: 100%;
  
}

.a{
 padding-left: 10px;
}
.b{
    display: flex;
    justify-content: space-around;
    padding-top:15px ;
    padding-right: 30px;
}
.c{
    text-align: right;
    padding-top:15px ;
    padding-right: 30px;
}
.orgbtn {
    background-color: #e4701e;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bolder;
  }
  .orgbtn:hover
{
    background-color: #08285e;
}
